* {
    margin:0;
    padding:0;
}

.title {
    color: white;
    font-size: xx-large;
    background: linear-gradient(blue, white);
    padding-bottom: 3px;
}

.sidebar {
    height:93dvh;
}

.search-history {
    margin-top: 10px;
    border-top: 1px solid black;
}

.current {
    background-color:white;
    border: 1px solid black;
}

.forecast{
    background-color:cadetblue;
    border: 1px solid black;
}

.cast-group {
    display:flex;
    justify-content: space-between;
}